doctype html
html(lang="en")
    head
        title URL Shortener
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
        script(type='text/javascript').
            function create() {
                const url = document.querySelector("#input").value
                if (!isURL(url)) return alert("Please enter a valid URL")
                fetch(`/api/create?url=${encodeURIComponent(url)}`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                    }).then((response) => {console.log(response);return response.json()})
                    .then((data)=> {
                        window.location.href = (`/?output=${data.shortened}`)
                    }).catch((err)=> {
                        window.location.href = (`/?msg=${err.message}`)
                    })
            }
            function isURL(url) {
                try {
                    let test = new URL(url)
                    return true
                } catch (err) {
                    return false
                } 
            }
    body
        .container
            
            h1 Shorten your URLs
            if msg
                div(class="alert alert-info" role="alert")= msg
            .row
                p.
                    Shorten your URLs here with this free service:
                .input-group
                    input(type="text" class="form-control" id="input" placeholder="Your URL here" value=output ? output : "" )
                    span.input-group-btn
                        button(class="btn btn-default" type="submit" onclick="create()").
                            Create
                if output 
                    #output.wel
                        p. 
                            Your new URL ↴
                        a(href=output)= output
        script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous")